<div class="main-body">
  <div class="row">

    <div class="col-md-3">
      <%= link_to "Pending", root_path, class: "btn btn-primary btn-block" %><br><br>
      <%= link_to "In process", root_path, class: "btn btn-primary btn-block" %><br><br>
      <%= link_to "Unrated", unrated_path, class: "btn btn-primary btn-block" %><br><br>
      <%= link_to "Completed", root_path, class: "btn btn-primary btn-block" %><br><br>

    </div>
    <div class="col-md-9">
        <% if @reservations.any? %>
          <table class="table table-striped">
            <tr>
              <th>Provider</th>
              <th>Start date</th>
              <th>End date</th>
              <th></th>
            </tr>
            <% @reservations.each do |reservation| %>
                <tr>
                  <td><%= reservation.service.provider.name %></td>
                  <td><%= reservation.start %></td>
                  <td><%= reservation.end %></td>
                  <td><%= link_to 'Rate it!', user_reservation_path(reservation.user,reservation), class: 'btn btn-success'%></td>
                </tr>
            <% end %>
          </table>
        <% else %>
            There are no unrated services for you!
        <% end %>
    </div>
  </div>
</div>